<div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/images/beauty-service-o2-768x512.jpg" alt="Anti-Ageing Face Treatments" width="140" height="140">
      <h2>Anti-Ageing Face Treatments</h2>
      <p> Professional hair stylist analysescalp conditions to determine th type of treatment need.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/images/beauty-service-o1-768x512.jpg" alt="Hair Color and Styling" width="140" height="140">
      <h2>Hair Color and Styling</h2>
      <p> Professional hair stylist analysescalp conditions to determine th type of treatment need.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/images/beauty-service-o3-768x512.jpg" alt="Skin Care Treatment" width="140" height="140">
      <h2>Skin Care Treatment</h2>
      <p>Bring your beard to the next level Step up your game face with the help of certified beard stylists.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>