<div class="container marketing">

    <div class="py-5 text-center">
        <h2>{{pageTitle}}</h2>
        <p class="lead"></p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-3">Current Users</h4>

            <div class="navbar-light bg-light">
                <input class="form-control form-control-dark w-100" [(ngModel)]='listFilter' type="text" placeholder="Search" aria-label="Search">
            </div>
            <br />
            <div class='table-responsive'>
                <table class='table table-sm table-hover  table-striped' *ngIf='users && users.length'>
                    <thead class="thead-dark">
                        <tr>
                            <th>Username</th>
                            <th>User Type</th>
                            <th>Status</th>
                            <th>#Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of filteredUser">
                            <td [ngClass]="{'alert-danger': user.status == 0 }">
                                {{user.username}}</td>
                            <td [ngClass]="{'alert-danger': user.status == 0 }">
                                {{user.usertype == 1 ? "Admin" : user.usertype == 2 ? "Owner" : "Client" }}</td>
                            <td [ngClass]="{'alert-danger': user.status == 0 }">
                                {{ user.status == 0? "Inactive" : "Active" }}</td>
                            <td [ngClass]="{'alert-danger': user.status == 0 }">
                                <button (click)="changeStatus(user)"
                                    [ngClass]="user.status == 1?'btn-danger':'btn-warning'" 
                                    class="btn btn-sm" type="button">
                                    <span *ngIf="user.status == 1" class="material-icons d-inline-block align-top">lock_open</span>
                                    <span *ngIf="user.status != 1" class="material-icons d-inline-block align-top">lock</span>
                                  
                                    {{user.status == 0? "Enable" : "Disable" }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf='errorMessage' class='alert alert-danger'>
            Error: {{ errorMessage }}
        </div>
        <div *ngIf="loading" class="alert">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        </div>
    </div>

</div>