<app-slider></app-slider>
<div class="container marketing">
    <app-preview></app-preview>
    <hr class="featurette-divider">
    <!--div class="">
        <h2 class="display-4 d-none d-sm-block">Welcome {{fullname}}</h2>
    </div-->
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Anti-Ageing Face Treatments</h2><span class="text-muted">It'll blow your
                mind.</span>
            <p class="lead">Professional hair stylist analysescalp conditions to determine th type of treatment need.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                style="width: 500px; height: 500px;"
                src="../../../assets/images/beauty-post-08-590x590.jpg"
                data-holder-rendered="true">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Skin Care Treatment  
            </h2><span class="text-muted">See for yourself.</span>
            <p class="lead">Bring your beard to the next level Step up your game face with the help of certified beard stylists.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="../../../assets/images/beauty-post-04-590x590.jpg"
                data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Hair Color and Styling</h2>
            <span class="text-muted">Checkmate.</span>
            <p class="lead">Professional hair stylist analysescalp conditions to determine th type of treatment need.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="../../../assets/images/beauty-post-03-590x590.jpg"
                data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>
    
</div>